#contenido{
      width: 100%;
      height: 600px;
      overflow: auto;
}

#recetas{
      margin: 0px auto;
      width: 80%;
}

#about{
      display: none;
}

#divAbout{
      width: 70%;
      margin: 0px auto;
      margin-top: 20px;
}

#divAbout h1{
      margin-bottom: 20px;
}

#divAbout p{
      text-align: justify;
      padding: 10px;
}

#divContacto{
      width: 50%;
      margin: 0px auto;
      font-family: Helvetica, Arial;
}

#divContacto h1{
      text-align: center;
      margin: 10px 0px 10px 0px;
}

#divContacto p{
      font-size: 16px;
      margin: 10px;
}

#divContacto form{
      margin: 0px auto;
      width: 70%;
      padding: 20px 0px 20px 0px;
}

#divContacto input{
      margin: 10px 0px 20px 0px;
}

.fildForm{
      width: 400px;
}

textarea{
      height: 100px;
}
