header{
      margin: 0px;
      padding: 0px;
      background-color: rgba(255,100,100,0.8);
}

#divLogo{
      height: 80px;
      margin: 0px auto;
      margin-bottom: 10px;
      padding-top: 10px;
      width: 400px;
}

#logo{
      height: 80px;
      float: left;
      margin: 0px auto;
}

#nombreWeb{
      padding-top: 20px;
      padding-left: 100px;
      font-family: Helvetica, Arial;
      font-weight: bold;
}

#divMenu{
      background: rgba(233,120,140,0.8);
}

#menu{
      margin: 0px auto;
      text-align: center;
}

#menu ul{
      margin: 0px;
      padding: 0px;
      width: 100%;
}
#menu ul li{
      display: inline-block;
      padding: 15px 38.5px 15px 38.5px;
      cursor: pointer;
      transition: all 700ms;
      text-decoration: none;
      font-family: Helvetica, Arial;
      font-size: 18px;
      font-weight: bold;
      color: #eee;
}

#menu ul li:hover{
      background-color: rgba(255,100,100,0.8);
}
