#listaRecetas{
      width: 70%;
      margin: 0px auto;
}
#divReceta{
      width: 250px;
      padding: 10px;
      border-radius: 25px;
      -webkit-box-shadow: 7px 7px 25px -4px rgba(0,0,0,0.75);
      -moz-box-shadow: 7px 7px 25px -4px rgba(0,0,0,0.75);
      box-shadow: 7px 7px 25px -4px rgba(0,0,0,0.75);
      cursor: pointer;
      float: left;
      margin: 20px 40px 20px 40px;
}

#divReceta:hover{
      background-color: rgba(255,100,100,0.8);
      transition: 700ms all;
}

#fotoReceta{
      width: 250px;
      border-radius: 25px;
}

#titReceta{
      font-size: 28px;
      font-family: Helvetica, Arial;
      font-weight: bold;
      margin: 0px auto;
      text-align: center;
      height: 100px;
      overflow-x: auto;
}

#propsReceta table{
      margin: 0px auto;
}

.titProp{
      text-align: right;
}

.valProp{
      text-align: left;
}
